﻿@model List<Product.Models.Product>
@{
    ViewData["Title"] = "GetAll";
}

<h1>GetAll</h1>

@foreach (var item in Model)
{
    <table>
    <tr>
        <td>
            @item.Id
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.Description
        </td>
    </tr>
    </table>
}
